{% extends "layout.3-9.twig" %}

{% block page_title %}User Info{% endblock %}

{% block content %}

    <h2>{{ block('page_title') }}</h2>
    {{ block('flash_message') }}

    {{ dump(app.user) }}

    {{ dump(security_role_hierarchy) }}

{% endblock%}
