{% extends "layout.3-9.twig" %}

{% block page_title %}User Login{% endblock %}

{% block content %}

    <h2>{{ block('page_title') }}</h2>
    {{ block('flash_message') }}

    <form class="form-horizontal" action="{{ path('user_login_check') }}" method="post">

        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" placeholder="Username" name="_username" value="{{ last_username }}">
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" placeholder="Password" name="_password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-2">
                <button type="submit" class="btn btn-default">Sign in</button>
            </div>
            {% if error %}
                <div class="col-sm-8">
                    {{ error }}
                </div>
            {% endif %}
        </div>
    </form>    

    <script>
        document.getElementById("username").focus();
    </script>

{% endblock%}
