
{% block title %}
    {% if block('page_title') %}
        {{ block('page_title') }} - {{ 'site.title'|trans }}
    {% else %}
        {{ 'site.title'|trans }}
    {% endif %}
{% endblock %}

{% block description %}
    {#% if block('page_description') %}
        {{ block('page_description') }} - {{ 'site.description'|trans }}
    {% else %}
        {{ 'site.description'|trans }}
    {% endif %#}
{% endblock %}

{% block head_styles %}

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme-readable.min.css" rel="stylesheet">

    <link href="/css/base.style.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/base.ie10-viewport-bug-workaround.css" rel="stylesheet">    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% if block('page_styles') %}
        {{ block('page_styles') }}
    {% endif %}

{% endblock %}

{% block footer_scripts %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-1.12.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    {% if block('page_scripts') %}
        {{ block('page_scripts') }}
    {% endif %}

{% endblock %}

{% block header %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{{ 'site.title'|trans }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                {{ knp_menu_render( is_granted('IS_AUTHENTICATED_FULLY') ? 'navbar.left' : 'navbar.left.guest' , {'currentClass': 'active', 'ancestorClass': 'active', 'allow_safe_labels': true}) | raw }}
                <ul class="nav navbar-nav navbar-right">
                    {% for locale, file in app.locale_translate %}
                        {% if app.request.locale != locale %}
                            <li>
                                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': locale})) }}">{{ locale|upper }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {{ knp_menu_render( is_granted('IS_AUTHENTICATED_FULLY') ? 'navbar.right' : 'navbar.right.guest' , {'currentClass': 'active', 'ancestorClass': 'active', 'allow_safe_labels': true}) | raw }}
            </div><!--/.navbar-collapse -->
        </div>
    </nav><!--/.navbar-fixed-top -->
{% endblock %}

{% block layout %}
    layout
{% endblock %}

{% block flash_message %}
    {% for message in app.session.getFlashBag.get('message') %}
        <p class="text-danger">{{ message }}</p>
    {% endfor %}    
{% endblock %}

{% block sidebar %}
    <img class="img-thumbnail img-circle" src="{{ 'site.logo'|trans }}">
{% endblock %}

{% block content %}
    <h2>{#{ block('page_title') }#}</h2>
    <p>block content<p/>
{% endblock %}

{% block footer %}
    <footer class="bd-footer text-muted">
        <div class="container">
            &copy; {{ "now"|date("Y") }} <a href="/">{{ 'site.title'|trans }}</a>
            <div class="pull-right"><em class="grey">{{ "now"|date("y.m.d H:i:s") }}</em></div>
        </div>
    </footer>
{% endblock %}
