{#% spaceless %#}
{% use "base.config.twig" %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ block('title') }}</title>
        <link rel="icon" href="/img/favicon.png">
        <meta name="description" content="{{ block('description') }}"/>

        {{ block('head_head') }}
        {{ block('head_styles') }}
    </head>
    <body>
        <div class="body-wrapper" style="padding-top: 67px;">
            {% block header %}{% endblock %}
            <div class="container layout-wrapper">
                {% block layout %}{% endblock %}
            </div>
            {% block footer %}{% endblock %}
            {{ block('footer_scripts') }}
        </div>
    </body>
</html>
{#% endspaceless %#}
