{% extends "base.twig" %}
{% use "base.config.twig" %}

{% block layout %}
    
    <div class="row">
        
        <div class="col-md-3 sidebar">
            {% block layout_sidebar %}{{ block('sidebar') }}{% endblock %}
        </div>
        
        <div class="col-md-9 content">
            {% block layout_content %}{{ block('content') }}{% endblock %}
        </div>
        
    </div>
            
{% endblock %}
