{% extends "layout.3-9.twig" %}

{% block page_title %}{{ 'page.about.title'|trans }}{% endblock %}

{% block content %}

    <h2>{{ block('page_title') }}</h2>
    
    <div class="well well-lg">
        {{ 'page.about.text'|trans }}
    </div>

{% endblock%}
