{% extends "layout.3-9.twig" %}

{% block page_title %}Sample New{% endblock %}

{% block content %}

    <h2>{{ block('page_title') }}</h2>
    {{ block('flash_message') }}

    <div style="margin-top:2em;">

        {% form_theme sample_form 'bootstrap_3_horizontal_layout.html.twig' %}
        {#% form_theme sample_form 'bootstrap_3_layout.html.twig' %#}

        {{ form_start(sample_form) }}
        {{ form_widget(sample_form) }}

        <div class="row">
            <div class="col-sm-offset-2 col-sm-1">
                <button type="submit" value="save" class="btn btn-default">Save</button>
            </div>
            <div class="col-sm-1">
                <a class="btn btn-primary" href="{{ path('sample_view') }}">Back</a>
            </div>
        </div>

        {{ form_end(sample_form) }}

        <script>
            document.getElementById("sample_form_text").focus();
        </script>

    </div>

{% endblock%}
