{% extends "layout.3-9.twig" %}

{% block page_title %}Sample View{% endblock %}

{% block content %}

    <h2>{{ block('page_title') }}</h2>
    {{ block('flash_message') }}

    <div class="row">
        <div class="col-md-offset-8 col-md-4">
            <p class="text-right"></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">text</div>
        <div class="col-md-3">updated_at</div>
        <div class="col-md-3">created_at</div>
        <div class="col-md-2 text-right te">
            <strong><a href="{{ path('sample_new') }}">New</a></strong>
        </div>
    </div>

    {% for sample in sample_view|default() %}
        <div class="row">
            <div class="col-md-4">{{ sample.text }}</div>
            <div class="col-md-3">{{ sample.updated_at|date("Y-m-d H:i:s") }}</div>
            <div class="col-md-3">{{ sample.created_at|date("Y-m-d H:i:s") }}</div>
            <div class="col-md-2 text-right">
                <a href="{{ path('sample_edit', {'sample_id': sample.id}) }}">Edit</a>
            </div>
        </div>        
    {% endfor %}

{% endblock%}
